# This is Xamarin-specific (and enhanced) configuration.

-dontwarn  android.net.**

-keep class android.net.**{
	*;
}

-keep class com.google.android.gms.** { *; }
-dontwarn com.google.android.gms.**
-keep class com.microsoft.windowsazure.messaging.** { *; }
-dontwarn com.microsoft.windowsazure.messaging.**
-keep class com.google.firebase.** { *; }
-dontwarn com.google.firebase.**
-keep class android.support.v7.widget.** { *; }
-dontwarn android.support.v7.widget.**
-keep class android.support.v4.widget.Space { *; }
-dontwarn android.support.v4.widget.Space
-keep class android.support.design.widget.** { *; }
-dontwarn android.support.design.widget.**
-keepparameternames
-renamesourcefileattribute SourceFile
-keepattributes Exceptions,InnerClasses,Signature,Deprecated,SourceFile,LineNumberTable,*Annotation*,EnclosingMethod

-keep,allowobfuscation class *{
     *;
}

-keep class com.kynetics.libpwm.PwmManager{
    *;
}

-keep class com.kynetics.libpwm.Pwm$*{
    *;
}

-keep class com.kynetics.libpwm.PwmManagerFactory*{
    *;
}

-keepclassmembers class * extends java.lang.Enum {
    <fields>;
    public static **[] values();
    public static ** valueOf(java.lang.String);
}

-keep interface * {
  <methods>;
}

-keepclassmembernames,allowobfuscation class * {
   <methods>;
}

-keepclasseswithmembernames,allowobfuscation,includedescriptorclasses class * {
    native <methods>;
}

-keepclassmembers,allowoptimization enum * {
    public static **[] values();
    public static ** valueOf(java.lang.String);
}

-keepclassmembers class * implements java.io.Serializable {
    static final long serialVersionUID;
    private static final java.io.ObjectStreamField[] serialPersistentFields;
    private void writeObject(java.io.ObjectOutputStream);
    private void readObject(java.io.ObjectInputStream);
    java.lang.Object writeReplace();
    java.lang.Object readResolve();
}
